.font(@fname, @fstyle, @fweight, @furl2, @furl) {
  @font-face {
    font-family: @fname;
    font-style: @fstyle;
    font-weight: @fweight;
    src: url(@furl2) format('woff2'),
      url(@furl) format('woff');
    font-display: swap;
  }
}

.font('Amble', normal, 300, '../fonts/amble-light.woff2', '../fonts/amble-light.woff');
.font('Amble', italic, 300, '../fonts/amble-light-italic.woff2', '../fonts/amble-light-italic.woff');
.font('Amble', normal, 400, '../fonts/amble-regular.woff2', '../fonts/amble-regular.woff');
.font('Amble', italic, 400, '../fonts/amble-regular-italic.woff2', '../fonts/amble-regular-italic.woff');
.font('Amble', normal, 700, '../fonts/amble-bold.woff2', '../fonts/amble-bold.woff');

.font('Big John', normal, 400, '../fonts/big-john.woff2', '../fonts/big-john.woff');

.font('Slim Joe', normal, 400, '../fonts/slim-joe.woff2', '../fonts/slim-joe.woff');

body {
  .font('Amble', normal, 300, '../fonts/amble-light.woff2', '../fonts/amble-light.woff');
}